body {
  margin: 0;
  padding: 0 0 5em 0;
}

/* font */

@font-face {
    font-family: "typewriter";
    src: url("font/JMHTypewriter.otf");
    src: url(font/JMHTypewriter.otf) format("otf");
    font-family: "PrestigeEliteStd";
    src: url("font/PrestigeEliteStd-Bd.otf");
}

.typewriter {
  font-family:  "typewriter", "PrestigeEliteStd", Arial, sans-serif;
}

/* index */

#indexBody {
  height: 100%;
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
}

#titleIndex {
  color: white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#titleIndex h1 {
  font-size: 4em;
  color:white;
  margin-bottom: 0em;
}

#main {
  display: block;
  text-align: center;
  height: 100%;
}

/* navbar */

.navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: black;
  box-shadow: 0px -5px 37px 0px rgba(0, 0, 0, 0.34);

}
nav ul {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  transform: translate(-5em,0);
}
nav li {
  color: white;
  display: inline;
  padding: 0 2em 0 2em ;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  border-top: solid 1px white;
}

#navName {
  position: absolute;
  left: 0;
  padding: inherit;
  padding-left: 1em;
  margin-right: 3em;
}

.textureBody {
  background-image: url(img/papertexture.jpg);
  background-size: cover;
}

#postcardBackground{
  background-image: url(img/postcardbackground.jpg);
  background-size: cover;

}
#postCard {
  background-image: url(img/postCardBack.png);
  background-size: cover;
  height: 500px;
  width: 800px;
  margin: auto;
  transform: rotate(1deg);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.34);
}

main {
  width: 70%;
  margin: auto;
  text-align: center;
}

/* Title */
#aboutTitle {
  display: inline-block;
  margin: 1em 0 2em 0;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

.row {
  width: 100%;
  text-align: left;
}

.speech {
  display: block;
  text-align: right;
  width: 51%;
}

/* Grid */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  grid-template-rows: repeat(6, auto);
  grid-gap: 2em;
}

.title {

  margin: 1em 0 2em 0;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

.video1 {
  grid-area: video1;
  grid-column: 1 / 2;
  grid-row: 1 ;

}
.video2 {
  grid-area: video2;
  grid-column: 1 / 2;
  grid-row: 2 ;

}
.video3 {
  grid-area: video3;
  grid-column: 1 / 2;
  grid-row: 3 ;

}
.video4 {
  grid-area: video3;
  grid-column: 1 / 2;
  grid-row: 4 ;
}
.video5 {
  grid-area: video3;
  grid-column: 1 / 2;
  grid-row: 5 ;
}

.text1 {
  grid-area: text;
  grid-column: 1 / col2-start /last-line / 2;
  grid-row: 1 ;
}
.text2 {
  grid-area: text;
  grid-column: 1 / col2-start /last-line / 2;
  grid-row: 2 ;
}
.text3 {
  grid-area: text;
  grid-column: 1 / col2-start /last-line / 2;
  grid-row: 3 ;
}
.text4 {
  grid-area: text;
  grid-column: 1 / col2-start /last-line / 2;
  grid-row: 4 ;
}
.text5 {
  grid-area: text;
  grid-column: 1 / col2-start /last-line / 2;
  grid-row: 5 ;
}
/* -------------------Form-------------------- */

.contactForm {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 25% 25%;
  align-items: flex-end;
  height: 450px;

}
#messageForm{
  display: grid;
  grid-column: 1/2;
  grid-row: 1/4;
  height: 50%;
  width: 90%;
  margin: 0 auto 1em auto;
}
 #nameForm{
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
 }
 #mailForm{
   display: grid;
   grid-column: 2/3;
   grid-row: 3/4;
   margin-bottom: 2em;
 }
 #buttonForm {
   margin: 1em;
 }
textarea{
  background-color: inherit;
  border: none;
  border-bottom: solid black 1px;
  border-right:  solid black 1px;
}
input{
  background-color: inherit;
  border: none;
  border-bottom: solid black 1px;
  border-right:  solid black 1px;
}
 /* ------------------Photo-------------- */

 .photoCategories img{
   background-color: white;
   padding: 10px 10px 35px 10px;
 }
 #mariagethumbnail img:hover{

 }
